<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title></title>
    </head>
    <body>
        {{>header}}
        <p>This is the weather application built using mapbox and weathershack api</p>
        {{>footer}}
    </body>
</html>